[user]
    name = Cristian Cardellino
    email = crscardellino@gmail.com
[core]
    editor = vim
    autocrlf = false
[push]
    default = simple
[diff]
    tool = vimdiff
[alias]
    st = status -sb
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log --no-merges --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
